cd ~/cobot3_ws
cat > .gitignore << 'EOF'
build/
install/
log/
__pycache__/
*.pyc

.claude/
*.onnx
*.pt
*.pth

EOF
!./isaacpjt/M0609/Collected_m0609_camera
!./isaacpjt/M0609/Collected_m0609_camera/m0609_camera.usd
install/local_setup.sh
